{% extends 'base.html.twig' %}

{% block title %}Chambres{% endblock %}

{% block body %}
{% include 'navbar/index.html.twig' %}
<div class="chambres-container">
    <h1>Liste des Chambres</h1>


{% include 'footer/index.html.twig' %}
{% endblock %}
