{% extends 'base.html.twig' %}

{% block title %}Chambres{% endblock %}

{% block body %}
{{ render(path('app_navbar')) }}
<div class="chambres-container">
    <h1>Liste des Chambres</h1>


{% include 'footer/index.html.twig' %}
{% endblock %}
